.resources-table-container {
  display: flex;
  justify-content: space-between; /* Abstand zwischen Tabelle und Buttons */
  align-items: flex-start; /* Oberkante der Elemente ausrichten */
  overflow: auto;
  width: 100%;
  height: 100vh;
}
